/* CSS Document */

div.txt_form{
	color:#FFFFFF;
	text-align: justify;
	font-size: 18pt;
	text-shadow: 0 2px 2px black;
	letter-spacing: 5px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	box-shadow: 0 0 2px 2px rgba(0,0,76,0.5);
	padding: 22px;
	background-color: rgba(0,0,75,0.2);
	margin: 59px 250px 59px 250px;
	position: relative;
}

figure#formulario1{
	position: absolute;
	left: -30px;
}

figure#formulario2{
	position: absolute;
	left: 956px;
}